
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 500px;

}

.wrapper{
    width: 476px;
    height: 709px;
    border-color: 633CFF;
    padding: 20px;
    border-width: 2px;
    margin: 2px;
    /* border-style: solid; */
    
}

.wrapper .input-box {
    width: 396px;
    height: 50px;
   
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
    margin-left: 130px;
}


form{
    width: 476px;
    height: 618px;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    text-align: center;
    margin-top: 50px;
    border-radius: 12px;

}

form h2 {
    margin-bottom: 10px;
    text-align: left;
}

form p{
    font-size: 15px;
    text-align: left;
    margin-bottom: 10px;
}
img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
button{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
    background-color: #633CFF;
    margin-top: 20px;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    border-color: white;
    

}

.input-box {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

form label{
    justify-content: left;
    text-align: left;
    
}
input{
    border-radius: 8px;
    height: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    text-align: left;
    
}
i{
    color: gray;
    margin-right: 330px;
    top: 50%;
}
.input-box i {
    justify-content: left;
    position: relative;
    top: 25px;
}
::placeholder{
    margin-left: 30px;
    padding-left: 100px;
    padding: 40px;
}
.btn {

    font-size: 15px;
    text-align: center;
    justify-content: center;
    padding-left: 10px;
    
    
}
h1{
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.remember-forget{
    
    justify-content: center;
    text-align: center;
    padding-left: 50px;

}
a{
    text-decoration: none;
    color: #633CFF;
}