
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Instrument Sans", sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   

}



.wrapper{
    width: 476px;
    height: 573px;
    border-color: 633CFF;
    padding: 51px;
    border-width: 2px;
    margin: 2px;
    /* border-style: solid; */
    


.wrapper .input-box {
    width: 396px;
    height: 70px;
    background-color: aqua;
    margin: ;
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
    margin-left: 130px;
}


form{
    width: 476px;
    height: 482px;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;

}

form h2 {
    margin-bottom: 10px;
    text-align: left;
}

form p{
    font-size: 15px;
    text-align: left;
    margin-bottom: 30px;
}
img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
button{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: auto;
    background-color: #633CFF;
    margin-top: 40px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    border-color: white;
    

}

.input-box {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form label{
    justify-content: left;
    text-align: left;
    
}
input{
    border-radius: 8px;
    height: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #D9D9D9;
    text-align: left;
    
}
i{

}

.img{
    color: gray;
    margin-right: 33px;
    top: 30%;
    justify-content: left;
    position: relative;
    top: 35px;
    left: 10PX;
    height: 16px;
    width: 16px;
}
.input-box i {

}
::placeholder{
    margin-left: 30px;
    padding-left: 100px;
    padding: 50px;
}
.btn {

    font-size: 25px;
    text-align: center;
    justify-content: center;
    padding-left: 40%;
    
    
}


h1{
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.remember-forget{
    
    justify-content: center;
    text-align: center;
    padding-left: 50px;

}
a{
    text-decoration: none;
    color: #633CFF;
}